@tailwind base;
@tailwind components;
@tailwind utilities;

/* main page  */

.intro-wrapper {
  background-color: #0f0f0fcc;
  margin-inline: auto;
  padding: 250px;
  text-align: center;
  color: white;
}

/* custom buttons */

.button {
  margin: 10px;
  padding: 15px;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.274);
  color: aliceblue;
  text-decoration: none;
  text-align: center;
  border: 2px solid rgba(0, 0, 0, 0.274);
  cursor: pointer;
}

.button:hover,
.on {
  background-color: rgb(1, 50, 156);
  transition: 0.6s ease;
}

.button:active {
  background-color: rgb(1, 24, 75);
  transition: 0.6s ease;
}

/* custom scroll bar  */

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(133, 167, 241);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1d375f;
}

.left-side-entry {
  animation-name: sideentry;
  animation-duration: 1.5s;
}

@keyframes sideentry {
  0% {
    transform: translate(-100px, 0);
    opacity: 0;
  }

  100% {
    transform: translate(0px, 0);
    opacity: 1;
  }
}

.right-side-entry {
  animation-name: rightentry;
  animation-duration: 1.5s;
}

@keyframes rightentry {
  0% {
    transform: translate(100px, 0);
    opacity: 0;
  }

  100% {
    transform: translate(0px, 0);
    opacity: 1;
  }
}

.smooth-entry {
  animation-name: entry;
  animation-duration: 1.5s;
}

@keyframes entry {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.smooth-fill {
  animation-name: filler;
  animation-duration: 1.5s;
}

@keyframes filler {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.blink {
  animation: cursor-blink 0.8s infinite;
}